<br><br>
<span style="color: #ffffff; font-weight:bold; font-size: 34;">
To Shop For Our Products On Etsy.com, simply click the Etsy button below.<br><br>
<a href="javascript:void(0)" onClick="javascript:doWindowPopup('http://www.etsy.com/shop/lalunaranchwear');"><img src="/images/etsybutton.jpg"/></a>
<br><br>
</span>

<span style="color: #ffffff; font-weight:bold; font-size: 24;">
	
We are a married couple who enjoys working together and creating items that bring joy to others.  We do not buy items from overseas and resell them.  We believe in keeping jobs in America.
<br><br>
Every single item we sell has been made by one or both of us here in our workshop in Santa Fe, New Mexico.  All of Maritza's jewelry is made by her and her textile products are sewn personally by her using Native American rugs, leather and suede that we purchase here in the United States.
<br><br>
The wood products are made by Jim one at a time and all tacking is done by hand one tack at a time.  All of the hides and iron pieces we use in our products are from the US.
</span>

<br>
<br>
</span>
<table width="70%">
	<tr>
		<td><img src="/images/m1.jpg" align="left" height="175"/></td>
		<td style="color: #ffffff; font-weight:bold; font-size: 30;" valign="top">
			With a Bachelor's degree in Art Design, Maritza creates beautiful objects d'art in keeping with the cultural traditions of her native, Spanish-Andean heritage. 							     Maritza continues her family's legacy of over three generations of fine craftsmanship creating her unique jewelry and Southwestern wear.
		</td>
	</tr>
</table>

<table width="70%">
	<tr>
		<td><img src="/images/atshow.jpg" align="left" height="150"/></td>
		<td style="color: #ffffff; font-weight:bold; font-size: 30;" valign="top">
			Continuing in his father's footsteps, Jim has been a woodworker nearly since birth.  After high school he apprenticed for five years in fine woodworking and lutherie and has also had a thirty-year career as a software engineer.
		</td>
	</tr>
</table>
