<img src="/images/titles/homedecor.png" width="225"/>
<center>


<table cellspacing="25">
	<tr>
		<td><img src="/images/homedecor/decor5.jpg" width="250"></td>
		<td><img src="/images/homedecor/decor4.jpg" width="250"></td>
		<td><img src="/images/homedecor/decor6.jpg" width="250"></td>
	</tr>
	<tr>
		<td><img src="/images/homedecor/decor1.jpg" width="250"></td>
		<td><img src="/images/homedecor/decor2.jpg" width="250"></td>
		<td><img src="/images/homedecor/decor9.jpg" width="250"></td>
	</tr>
	<tr>
		<td><img src="/images/homedecor/decor7.jpg" width="250"></td>
		<td><img src="/images/homedecor/decor8.jpg" width="250"></td>
		<td><img src="/images/homedecor/decor3.jpg" width="250"></td>
	</tr>
</table>
</center>

