<img src="/images/titles/pursesbags.png" width="600"/>
<center>

<table cellspacing="25" cellpadding="5">
	<tr>
		<td  align="center"><img src="/images/purses/purse4.jpg" width="250"></td>
		<td><img src="/images/purses/purse7.jpg" width="250"></td>
		<td><img src="/images/purses/purse8.jpg" width="250"></td>
	</tr>
	<tr>
		<td><img src="/images/purses/purse1.jpg" width="250"></td>
		<td><img src="/images/purses/purse2.jpg" width="250"></td>
		<td><img src="/images/purses/purse3.jpg" width="250"></td>
	</tr>
	<tr>
		<td><img src="/images/purses/purse5.jpg" width="250"></td>
		<td><img src="/images/purses/purse6.jpg" width="250"></td>
		<td><img src="/images/purses/purse9.jpg" width="250"></td>
	</tr>
</table>
</center>

