<table>
 	<tr>
		<td><a href="/">Home</a></td>
		<td><a href="/customguitars">Hand Made Guitars</a></td>
		<td><a href="/devonshirelist">A Guitar Is Born</a></td>
		<td><a href="/repairs">Repairs</a></td>
		<td><a href="/customizations">Customizations</a></td>
		<td><a href="/lessons">Guitar Lessons</a></td>
 	</tr>
</table>