<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
    body {
	margin:0;
	padding:0;
	font: 12px/1.5em Verdana;
}

h1 {
	font: bold 34px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0px;
	padding: 0px 0px 0px 15px;
	font-style:italic;
}	
h2 {
		font: bold 14px Verdana, Arial, Helvetica, sans-serif;
		color: #000;
		margin: 0px;
		padding: 0px 0px 0px 15px;
}
</style>
</head>
<div style="color: #ffffff;">
	<a href="/home" title="Home"><img src="/images/titles/homemenu.png" height="28"/></a><br>
	<a href="/purses" title="Purses/Bags"><img src="/images/titles/pursesmenu.png" height="27"/></a><br>
	<a href="/bootcovers" title="Boot Covers"><img src="/images/titles/bootcoversmenu.png" height="27"/></a> <br>
	<a href="/homedecor" title="Home Decor"><img src="/images/titles/homedecormenu.png" height="27"/></a> <br>
	<a href="/jewelry" title="Jewelry"><img src="/images/titles/jewelrymenu.png" height="29"/></a><br>
	<a href="/about" title="About"><img src="/images/titles/aboutmenu.png" height="27"/></a><br>
	<a href="/contactme" title="Contact Us"><img src="/images/titles/contactmenu.png" height="27"/></a><br>
	<br>
	<br>
	<br>
	<center>
		<b>Each Item Individually Created By Hand In The USA!</b>
	</center>
</div>

