<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>		
	<title>LaLuna Ranchwear - Western Jewelry, Purses, iPad Covers And Home Decor</title>
	<link rel="shortcut icon" href="/favicon.ico" />

	<link type="text/css" rel="stylesheet" href="/stylesheets/guitar.css" />

<script>
function doWindowPopup(url) { 
	window.open(url, 'LaLunaRanchwear','toolbar=1,scrollbars=1,height=600,width=800');
}
</script>
		
</head>
<body>
<div id="centering-nonhome-div">
	<img src="/images/lalunabanner.jpg" width="1000"/>
	
	<div id="sidemenu">
		<%= render(:partial => "shared/menu") %>
	</div>
	<div id="pagecontent">
		<%= @content_for_layout %>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-13071258-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>